*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    background: #fafafa;
    margin: 0;
}

.cacheInfo {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    left: -1px;
    padding: 5px 10px;
    position: fixed;
    top: 10px;
}
.cached {
    background-color: lightskyblue;
    border: 1px solid deepskyblue;
}
.cached:before {
    content: 'Cached version';
}
.live {
    background-color: lawngreen;
    border: 1px solid limegreen;
}
.live:before {
    content: 'Live version';
}
.hidden {
    display: none;
}