includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    level: 8
    paths:
        - bin
        - config
        - public
        - src
        - test
    treatPhpDocTypesAsCertain: false
