<div>
    <p>Hi {{ user.detail.firstname ?? user.identity }},</p>

    <p>
        You have successfully reset your {{ config.application.name }} password.<br />
        You can now access your account using your email ({{ user.detail.email }}) and the password you just set.
    </p>

    <p>
        Thanks,<br />
        The {{ config.application.name }} Team
    </p>
</div>
