Hi {{ user.name }},<br /><br />

You can reset your {{ config.application.name }} password using <a href="{{ url('account:reset-password', {'hash': user.resetPasswords|last.hash}) }}" target="_blank">this link</a>.
