<?php

declare(strict_types=1);

return [
    'zend-expressive-authorization-acl' => [
        'roles' => [
            'admin'  => [],
            'member' => ['admin'],
            'guest'  => ['member'],
        ],
        'resources' => [
            'user',
            'users',
            'avatar',
        ],
        'allow' => [
            'admin' => ['*'],
            'member' => ['*'],
            'guest' => []
        ]
    ],
    'zend-expressive-authorization-rbac' => [
        'roles' => [
            'admin'  => [],
            'member' => ['admin'],
            'guest'  => ['member'],
        ],
        'permissions' => [
            'member' => [
                'avatar',
                'users',
                'user',
            ],
        ],
    ]
];
