<?php

return [
    'dependencies' => [
        'invokables' => [
            Mezzio\Router\RouterInterface::class => Mezzio\Router\FastRouteRouter::class,
            App\Middleware\Ping::class => App\Middleware\Ping::class,
        ],
        'factories' => [
            App\Middleware\User::class => App\Middleware\UserFactory::class
        ],
    ],
];
